alabaster==0.7.12
Babel==2.8.0
coverage==5.0.3
decorator==4.4.1
docutils==0.16
Flask==1.1.1
httpbin==0.7.0
itsdangerous==1.1.0
Jinja2==2.11.0
MarkupSafe==1.1.1
py==1.8.1
Pygments==2.5.2
PySocks==1.7.1
pytest==5.3.5
pytest-cov==2.8.1
pytest-httpbin==1.0.0
pytest-mock==2.0.0
pytz==2019.3
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.3.1
sphinx-rtd-theme==0.4.3
Werkzeug==0.16.1
wheel==0.34.1
