alabaster==0.7.12
Babel==2.6.0
coverage==4.5.3
decorator==4.4.0
docutils==0.14
Flask==1.0.2
httpbin==0.7.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
py==1.8.0
Pygments==2.4.0
PySocks==1.6.8
pytest==4.4.2
pytest-cov==2.7.1
pytest-httpbin==1.0.0
pytest-mock==1.10.4
pytz==2019.1
six==1.12.0
snowballstemmer==1.2.1
Sphinx==2.0.1
sphinx-rtd-theme==0.4.3
Werkzeug==0.15.2
wheel==0.33.1
