alabaster==0.7.12
Babel==2.9.0
coverage==5.4
decorator==4.4.2
docutils==0.16
Flask==1.1.2
httpbin==0.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
py==1.10.0
Pygments==2.7.4
PySocks==1.7.1
pytest==6.2.2
pytest-cov==2.11.1
pytest-httpbin==1.0.0
pytest-mock==3.5.1
pytz==2020.5
six==1.15.0
snowballstemmer==2.1.0
Sphinx==3.4.3
sphinx-rtd-theme==0.5.1
Werkzeug==1.0.1
wheel==0.36.2
